<main class="page">
  <div class="container">
    <header>
      <div class="col">
        <h1>Questões</h1>
        <p>Visualize e gerencie as questões cadastradas e atribuidas a você.</p>
      </div>
      <div class="col">
        <a mat-flat-button color="primary" routerLink="new">
          <i icon="plus"></i> Adicionar Questão
        </a>
      </div>
    </header>
  </div>

  <div class="content">
    <div class="kanban-container shadow-scroll">
      <div class="kanban-column" *ngFor="let key of questionsKeys">
        <h3>{{ getQuestionsTitlesByKey(key) }}</h3>
        <ul class="list">
          <li *ngFor="let question of getQuestionBySection(key)">
            <div class="title">
              <a class="f-16" routerLink="{{ question.id }}">
                #{{ question.id }}
              </a>
              <span class="difficulty-badge {{ question.difficulty }}">
                {{ question.difficulty | difficulty }}
              </span>
            </div>

            <div class="list-body">
              <p class="statement"> {{ question.statement }} </p>
              <p class="f-12 one-line">Assunto: {{ question.subject }}</p>
              <p class="f-12 one-line">Criador: {{ question.created_by }}</p>
              <p class="f-12 one-line">Revisor: {{ question.reviewer }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
