<main class="page">
  <div class="container">
    <div class="content" *ngIf="!loading && !error">
      <app-questions-filter
        (filter)="getQuestions($event)"
        [filtering]="filtering"
      />

      <mat-tab-group #tabGroup dynamicHeight>
        <mat-tab *ngFor="let tabQuestion of questions; let i = index">
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [matBadge]="getBadgeCount(tabQuestion, i, tabGroup.selectedIndex)"
              matBadgeOverlap="false"
            >
              {{ tabQuestion.label }}
            </span>
          </ng-template>
          <app-questions-list [questions]="tabQuestion.questions" />
        </mat-tab>
      </mat-tab-group>
    </div>

    <page-error *ngIf="error" [code]="error"></page-error>
    <page-loading *ngIf="loading"></page-loading>
  </div>
</main>
