<main class="page">
  <div class="container">
    <header>
      <div class="col">
        <h1>Questões</h1>
        <p>Visualize e gerencie as questões cadastradas e atribuidas a você.</p>
      </div>
      <div class="col">
        <a mat-flat-button color="primary" routerLink="new">
          <i icon="plus"></i> Adicionar Questão
        </a>
      </div>
    </header>

    <div class="content" *ngIf="!loading && !error">
      <mat-tab-group #tabGroup dynamicHeight>
        <mat-tab *ngFor="let tabQuestion of questions; let i = index">
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [matBadge]="getBadgeCount(tabQuestion, i, tabGroup.selectedIndex)"
              matBadgeOverlap="false"
            >
              {{ tabQuestion.label }}
            </span>
          </ng-template>
          <app-questions-list [questions]="tabQuestion.questions" />
        </mat-tab>
      </mat-tab-group>
    </div>

    <page-error *ngIf="error" [code]="error"></page-error>
    <page-loading *ngIf="loading"></page-loading>
  </div>
</main>
