<h1 matDialogTitle>Adicionar Assunto</h1>

<form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
      <mat-error>
        {{ form.controls.name.errors | formError | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >Eixos de Formação<i icon="loading" *ngIf="loadingAxes"></i
      ></mat-label>
      <mat-select formControlName="axis">
        <mat-option *ngFor="let axis of axes" [value]="axis.id">
          {{ axis.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >Categoria<i icon="loading" *ngIf="loadingCategories"></i
      ></mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="reset" mat-button matDialogClose>Cancelar</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="loading">
      Adicionar
      <loading *ngIf="loading" />
    </button>
  </mat-dialog-actions>
</form>
