@import 'src/styles/media';

nav {
  padding: 0.5rem;
  background-color: var(--main-color);
  color: var(--primary-bg);
  @include media('<=desktop') {
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

    .col {
      display: flex;
    }
    .toggle-drawer {
      &.float {
        position: absolute;
        left: 0.5rem;
      }
    }
    .logo {
      margin-left: 0.5rem;
      height: 48px;
      position: relative;
      img {
        height: 100%;
      }
      i {
        position: absolute;
        font-size: 1rem;
        top: 0px;
        right: -5px;
        transform: rotate(10deg);
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1rem;
      .quick-actions {
        display: flex;
        align-items: center;
      }

      .notification {
        position: relative;
        .badge {
          transition: var(--ts);
          opacity: 0;
          position: absolute;
          top: 15px;
          right: 15px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--main-color);
          &.show {
            opacity: 1;
          }
          &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            width: 5px;
            height: 5px;
            border: 2px solid var(--main-color);
            border-radius: 50%;
            transform: scale(0.5);
            opacity: 1;
            animation: pulse-notification 1.5s infinite;
          }
        }
      }
      .profile {
        padding: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep {
          .mdc-button__label {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        i {
          font-size: 1rem;
          color: var(--primary-bg);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

mat-drawer-container {
  --mat-sidenav-content-background-color: var(--primary-bg);
  --mat-sidenav-container-background-color: var(--primary-bg);
  // --mat-sidenav-container-divider-color: var(--primary-bg);
  width: 100%;
  height: calc(100% - (48px + 1rem));

  mat-drawer {
    width: 210px;
    overflow: visible;
    &.mat-drawer-opened {
      overflow: visible;
      width: 210px;
      height: 100%;
    }

    .list {
      height: 100%;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0.5rem;
      ::ng-deep li {
        a,
        button {
          justify-content: flex-start;
          width: 100%;
          padding-left: 6px;
          color: var(--text-color);

          &.active {
            background-color: var(--secondary-bg);
          }

          .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            i {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              color: var(--main-color);
              background-color: var(--primary-bg);
              width: 32px;
              height: 32px;
            }
          }
        }

        & + li {
          margin-top: 0.5rem;
        }

        &:last-of-type {
          margin-top: auto;
        }
      }
    }

    .version {
      position: absolute;
      bottom: 2px;
      text-align: center;
      width: 100%;
      opacity: 0.5;
    }
  }
}
