<nav [@offcanvasTopAnimation] #navbar [ngClass]="{ scroll }" [ngStyle]="{ '--navbar-height': navbar_height + 'px' }">
  <div class="content">

    <a class="logo" routerLink="/">
      <img src="assets/images/logo.png" alt="logo">
      Boilerplate
    </a>

    <div class="hamburger" [ngClass]="{ active: !navbar_hidden }">
      <button aria-label="menu" mat-icon-button (click)="navbar_hidden = !navbar_hidden">
        <span class="line"></span>
      </button>
    </div>

    <div class="menu {{colapse}}" [ngClass]="{ hidden: navbar_hidden }">
      <a mat-button routerLink="/">Início</a>
      <a mat-button routerLink="/about">Sobre</a>
      <a mat-button routerLink="/contact">Contato</a>
    </div>
  </div>
</nav>

<div [@routeAnimations]="outlet && outlet.activatedRouteData">
  <router-outlet #outlet="outlet"></router-outlet>
</div>