.mat-mdc-button-base {
  text-decoration: none;

  &.mdc-button {
    // border-radius: var(--br);
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.full {
    button {
      width: 100%;
    }
  }
}

html {
  .mat-mdc-icon-button {
    --mdc-icon-button-icon-size: 0.9rem;
  }
}

.mat-datepicker-toggle {
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 44px !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 15px;
}
