.mat-mdc-button-base {
  text-decoration: none;

  &.mdc-button {
    border-radius: var(--br);
    padding: 0 1rem;

    &.mat-button-disabled,
    &:disabled {
      color: var(--primary-bg) !important;
      opacity: 0.5;
    }
  }
}
