.mat-mdc-dialog-title {
  p {
    margin: 0;
    color: var(--mdc-dialog-supporting-text-color, rgba(0, 0, 0, 0.6));
    font-weight: 400;
  }
}

.dialog-sm {
  max-width: 576px;
  width: 100%;
}

.dialog-md {
  max-width: 768px;
  width: 100%;
}

.dialog-lg {
  max-width: 992px;
  width: 100%;
}

.dialog-xl {
  max-width: 1200px;
  width: 100%;
}

.dialog-xxl {
  max-width: 1400px;
  width: 100%;
}
