@import './animations';
@import './animations';

mat-form-field {
  width: 100%;
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 21px;
    }
    .mat-mdc-form-field-infix {
      min-height: 44px;
      padding: 10px 0px !important;
    }
    &.mdc-text-field--outlined
      .mdc-notched-outline--upgraded
      .mdc-floating-label--float-above {
      --mat-mdc-form-field-label-transform: translateY(-28px)
        scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
    }
  }
  .mat-mdc-form-field-error {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 44px;
    .mat-mdc-button-touch-target {
      width: 44px;
      height: 44px;
    }
  }

  &.mat-focused {
    button {
      color: var(--mdc-outlined-text-field-focus-label-text-color);
    }
  }

  &.mat-form-field-invalid {
    button {
      color: var(--mdc-outlined-text-field-error-label-text-color);
    }
  }

  input[type='file'] {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .image-preview {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    img {
      height: 100%;
      max-height: 35px;
    }
  }
  & + mat-form-field {
    margin-top: 0.5rem;
  }
}

form {
  .buttons {
    margin-top: 1rem;
  }

  .mat-mdc-checkbox-touch-target {
    width: 40px;
    height: 40px;
  }
}

.ckeditor-field {
  mat-label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }

  ckeditor {
    .ck.ck-toolbar,
    .ck.ck-editor__main > .ck-editor__editable {
      transition: var(--ts);
    }

    &.ng-touched.ng-invalid,
    &.ng-dirty.ng-invalid {
      --ck-color-base-border: var(
        --mdc-outlined-text-field-error-outline-color
      );
      & + mat-error {
        opacity: 1;
      }
    }
  }

  mat-error {
    opacity: 0;
    transition: var(--ts);
  }
}

:root {
  --ck-color-button-on-background: var(--main-color-20);
  --ck-color-button-on-hover-background: var(--main-color-20);
  --ck-color-button-on-color: var(--main-color);
  --ck-color-focus-outer-shadow: var(--main-color);
  --ck-color-focus-disabled-shadow: var(--main-color-20);
  --ck-color-focus-border: var(--main-color);
  --ck-border-radius: 4px;
  --ck-color-base-focus: var(--main-color-20);
}
