main.page {
  min-height: calc(100vh - 1rem - 48px);
  background-color: var(--primary-bg);
  padding: 1rem 0;

  .container {
    & > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      h1 {
        margin: 0;
      }
    }
  }

  .mat-mdc-tab-group {
    .mat-mdc-tab-body-wrapper {
      .mat-mdc-tab-body {
        height: 100%;

        .mat-mdc-tab-body-content {
          padding-top: 1rem;
          min-height: 150px;
        }
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.difficulty-badge {
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 0.6rem !important;
  display: inline-block;
  border: 1px solid var(--line-color);
  color: var(--primary-bg);
  &.badge-0 {
    background-color: var(--green-color);
  }
  &.badge-1 {
    background-color: var(--yellow-color);
  }
  &.badge-2 {
    background-color: var(--red-color);
  }
}
