$base-font-size: 19;
$min-font-size: 10;
$max-font-size: 52;

@for $i from $min-font-size through $max-font-size {
  $class-name: '.f-#{$i}';

  #{$class-name} {
    font-size: $i / $base-font-size * 1rem;
  }
}

.mat-typography {
  h1 {
    @extend .f-24;
  }
  h2 {
    @extend .f-18;
  }
  h3 {
    @extend .f-16;
  }
  h4 {
    @extend .f-14;
  }
  h5 {
    @extend .f-12;
  }
  h6 {
    @extend .f-10;
  }
  p {
    @extend .f-14;
  }
  a {
    @extend .f-14;
  }
  button {
    @extend .f-14;
  }
  span {
    @extend .f-14;
  }
  label {
    @extend .f-12;
  }
  .mat-button {
    @extend .f-14;
  }
}
