:root {
  font-size: calc(16px + 0.3125vw);
  --ts: all 0.3s ease-in-out;
  --br: 0.5rem;
  --elastic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --text-color: #000000;
  --main-color: #00605a;
  --primary-bg: #fff;
  --secondary-bg: #ededed;
  --line-color: #e0e0e4;

  --yellow-color: #e9ab28;
  --green-color: #00be5a;
  --red-color: #f13c3f;
  --blue-color: #007bff;
  --purple-color: #6f42c1;
  --orange-color: #fd7e14;

  --skeleton-bg: #e9e9e9;
  --skeleton-bg-dark: #d9d9d9;

  --avatar-dark-color: #000000;
  --avatar-light-color: #ffffff;
  --avatar-br: 50%;
  --avatar-ratio: 1/1;

  --fullpage-loading-bg: #fff5;

  // ? Scrollbar
  --scroll-track: var(--secondary-bg);
  --scroll-thumb: #aaa;

  // ? Navbar variables
  --navbar-max-width: 1024px;
  --navbar-logo-height: 50px;
  --navbar-position: relative;
  --navbar-top-bg: #f00; // transparent
  --navbar-top-color: #000000;
  --navbar-top-padding: 20px 10px;
  --navbar-scroll-bg: #f00;
  --navbar-scroll-color: #fff;
  --navbar-scroll-padding: 0 10px;
}
