<form class="filters" [formGroup]="form" (ngSubmit)="handleFormSubmit()">
  <div class="row">
    <mat-form-field appearance="outline" class="year">
      <mat-label>Ano Inicial</mat-label>
      <input
        matInput
        [matDatepicker]="startYearDp"
        formControlName="start_year"
        [max]="now"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startYearDp"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #startYearDp
        startView="multi-year"
        (yearSelected)="setStartYear($event, startYearDp)"
      >
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="year">
      <mat-label>Ano Final</mat-label>
      <input
        matInput
        [matDatepicker]="endYearDp"
        formControlName="end_year"
        [max]="now"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endYearDp"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #endYearDp
        startView="multi-year"
        (yearSelected)="setEndYear($event, endYearDp)"
      >
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Autoria</mat-label>
      <mat-select multiple formControlName="authorship">
        <mat-option value="own">Autorais</mat-option>
        <mat-option value="other">Não autorais</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Assuntos
        <loading *ngIf="loadingSubject" />
      </mat-label>
      <mat-select multiple formControlName="subjects">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
          {{ subject.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="route === '/'">
      <mat-label>Uso de Questões</mat-label>
      <mat-select multiple formControlName="using">
        <mat-option value="used">Novas</mat-option>
        <mat-option value="unused">Usadas</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="route === '/questions'">
      <mat-label>Ordernar por</mat-label>
      <mat-select formControlName="order_by">
        <mat-option value="created_at">Criação crescente</mat-option>
        <mat-option value="-created_at">Criação decrescente</mat-option>
        <mat-option value="updated_at">Atualização crescente</mat-option>
        <mat-option value="-updated_at">Atualização decrescente</mat-option>
        <mat-option value="difficulty">Dificuldade crescente</mat-option>
        <mat-option value="-difficulty">Dificuldade decrescente</mat-option>
        <mat-option value="subject">Assunto crescente</mat-option>
        <mat-option value="-subject">Assunto decrescente</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="buttons end">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="filtering"
    >
      Filtrar
      <i *ngIf="!filtering" icon="filter"></i>
      <loading *ngIf="filtering" />
    </button>
  </div>
</form>
