@import 'src/styles/media';

.filters {
  margin-bottom: 1rem;
  @include media('>=1350px') {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .buttons {
      width: fit-content;
    }
  }
  .row {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    mat-form-field {
      max-width: 300px;
      min-width: 150px;

      &.year {
        max-width: 140px;
        min-width: 140px;
      }
      & + mat-form-field {
        margin: 0;
      }
    }

    @include media('<=850px') {
      flex-wrap: wrap;
      mat-form-field {
        max-width: 100%;
        &.year {
          max-width: calc(50% - 0.25rem);
        }
      }
    }
  }

  .buttons {
    margin: 0;
  }
}
