<main class="page" id="question-detail">
  <div class="container">
    <header>
      <h1 class="one-line" [innerHTML]="headerTitle"></h1>
    </header>

    <div class="content" *ngIf="!loading && !error">
      <mat-stepper [orientation]="isTablet ? 'vertical' : 'horizontal'">
        <mat-step [stepControl]="formBody" label="Corpo da questão">
          <form [formGroup]="formBody">
            <div class="ckeditor-field">
              <mat-label>Instrução</mat-label>
              <ckeditor
                [editor]="ckEditor"
                [config]="ckEditorConfig"
                formControlName="instruction"
              ></ckeditor>
              <mat-error>
                {{
                  formBody.controls.instruction.errors | formError | translate
                }}
              </mat-error>
            </div>

            <mat-form-field class="froala">
              <mat-label>Suporte</mat-label>
              <textarea matInput formControlName="support"></textarea>
              <!-- [froalaEditor]="froalaOptions" -->
              <mat-error>
                {{ formBody.controls.support.errors | formError | translate }}
              </mat-error>
            </mat-form-field>

            <div class="ckeditor-field">
              <mat-label>Enunciado</mat-label>
              <ckeditor
                [editor]="ckEditor"
                [config]="ckEditorConfig"
                formControlName="body"
              ></ckeditor>
              <mat-error>
                {{ formBody.controls.body.errors | formError | translate }}
              </mat-error>
            </div>

            <div class="buttons end">
              <a mat-flat-button routerLink="..">Cancelar</a>
              <button
                type="button"
                mat-flat-button
                (click)="handleFormSubmit(true)"
                [disabled]="loadingActions"
              >
                Salvar Rascunho
                <loading *ngIf="loadingActions === 'draft'" />
              </button>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                matSteppxerNext
              >
                Avançar
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formCorrectOption" label="Resposta correta">
          <form [formGroup]="formCorrectOption">
            <mat-form-field class="froala">
              <mat-label>Opção correta</mat-label>
              <textarea matInput [formControl]="correctAlternative"></textarea>
              <!-- [froalaEditor]="froalaOptions" -->
              <mat-error>
                {{ correctAlternative.errors | formError | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="froala">
              <mat-label>Explicação</mat-label>
              <textarea matInput formControlName="explanation"></textarea>
              <!-- [froalaEditor]="froalaOptions" -->
              <mat-error>
                {{
                  formCorrectOption.controls.explanation.errors
                    | formError
                    | translate
                }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="froala">
              <mat-label>Referência</mat-label>
              <textarea matInput formControlName="references"></textarea>
              <!-- [froalaEditor]="froalaOptions" -->
              <mat-error>
                {{
                  formCorrectOption.controls.references.errors
                    | formError
                    | translate
                }}
              </mat-error>
            </mat-form-field>

            <div class="buttons end">
              <button type="button" mat-flat-button matStepperPrevious>
                Voltar
              </button>
              <button
                type="button"
                mat-flat-button
                (click)="handleFormSubmit(true)"
                [disabled]="loadingActions"
              >
                Salvar Rascunho
                <loading *ngIf="loadingActions === 'draft'" />
              </button>
              <button
                type="submit"
                mat-flat-button
                matStepperNext
                color="primary"
              >
                Avançar
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formDistractor" label="Distratores">
          <form [formGroup]="formDistractor">
            <mat-form-field
              class="froala"
              *ngFor="let distractor of distractorAlternatives; let i = index"
              [formGroup]="distractor"
            >
              <mat-label>Distrator {{ i + 1 }}</mat-label>
              <textarea matInput formControlName="text"></textarea>
              <!-- [froalaEditor]="froalaOptions" -->
              <mat-error>
                {{ distractor.controls.text.errors | formError | translate }}
              </mat-error>
            </mat-form-field>

            <div class="buttons end">
              <button type="button" mat-flat-button matStepperPrevious>
                Voltar
              </button>
              <button
                type="button"
                mat-flat-button
                (click)="handleFormSubmit(true)"
                [disabled]="loadingActions"
              >
                Salvar Rascunho
                <loading *ngIf="loadingActions === 'draft'" />
              </button>
              <button
                type="submit"
                mat-flat-button
                matStepperNext
                color="primary"
              >
                Avançar
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formFeatures" label="Características">
          <form [formGroup]="formFeatures" (ngSubmit)="handleFormSubmit()">
            <div class="row">
              <div class="col">
                <mat-radio-group formControlName="author">
                  <mat-radio-button value="OWN">Autoral</mat-radio-button>
                  <mat-radio-button value="OTHER">Não autoral</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col source-year">
                <mat-form-field class="source">
                  <mat-label>Fonte</mat-label>
                  <input matInput formControlName="authorship" />
                  <mat-error>
                    {{
                      formFeatures.controls.authorship.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="year">
                  <mat-label>Ano</mat-label>
                  <input
                    matInput
                    formControlName="authorship_year"
                    mask="0000"
                    placeholder="2024"
                  />
                  <mat-error>
                    {{
                      formFeatures.controls.authorship_year.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Dificuldade</mat-label>
                  <mat-select formControlName="difficulty">
                    <mat-option value="">-</mat-option>
                    <mat-option
                      *ngFor="let difficulty of difficultyOptions"
                      [value]="difficulty.value"
                    >
                      {{ difficulty.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{
                      formFeatures.controls.difficulty.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Assunto</mat-label>
                  <mat-select formControlName="subject">
                    <mat-option value="">-</mat-option>
                    <mat-option
                      *ngFor="let subject of subjects"
                      [value]="subject.id"
                    >
                      {{ subject.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{
                      formFeatures.controls.subject.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Tipo</mat-label>
                  <mat-select formControlName="question_type">
                    <mat-option [value]="">-</mat-option>
                    <mat-option
                      *ngFor="let type of questionTypes"
                      [value]="type.id"
                    >
                      {{ type.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{
                      formFeatures.controls.question_type.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Eixo de Formação</mat-label>
                  <input matInput formControlName="axis" readonly />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Habilidade Cognitiva</mat-label>
                  <mat-select formControlName="bloom_taxonomy">
                    <mat-option value="">-</mat-option>
                    <mat-option
                      *ngFor="let item of bloomTaxonomy"
                      [value]="item.value"
                    >
                      {{ item.label }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{
                      formFeatures.controls.bloom_taxonomy.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Revisor</mat-label>
                  <mat-select formControlName="reported_by">
                    <mat-option value="">-</mat-option>
                    <mat-option *ngFor="let user of reports" [value]="user.id">
                      {{ user.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{
                      formFeatures.controls.reported_by.errors
                        | formError
                        | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <mat-label>Intenção</mat-label>
              <textarea
                matInput
                rows="3"
                formControlName="intention"
              ></textarea>
              <mat-error>
                {{
                  formFeatures.controls.intention.errors | formError | translate
                }}
              </mat-error>
            </mat-form-field>
            <div class="buttons end">
              <button type="button" mat-flat-button matStepperPrevious>
                Voltar
              </button>
              <button
                type="button"
                mat-flat-button
                (click)="handleDeleteButtonClick()"
                *ngIf="status === QuestionStatus.DRAFT"
                [disabled]="loadingActions"
              >
                Excluir rascunho
                <loading *ngIf="loadingActions === 'delete'" />
              </button>
              <button
                type="button"
                mat-flat-button
                (click)="handleFormSubmit(true)"
                [disabled]="loadingActions"
              >
                Salvar Rascunho
                <loading *ngIf="loadingActions === 'draft'" />
              </button>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="loadingActions"
              >
                Finalizar
                <loading *ngIf="loadingActions === 'submit'" />
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <page-error *ngIf="error" [code]="error" />
    <page-loading *ngIf="loading" />
  </div>
</main>
