@import 'src/styles/media';

#login {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  overflow: hidden;

  .row {
    padding: 2rem 8%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    @include media('<=tablet') {
      gap: 2rem;
      flex-direction: column;
    }

    .lang {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .version {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      color: var(--primary-bg);
    }

    .col {
      width: 100%;

      .logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 350px;
          @include media('<=tablet') {
            max-width: 250px;
            width: 50%;
          }
        }
      }

      .form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        form {
          background-color: var(--primary-bg);
          padding: 2rem;
          border-radius: var(--br);
          width: 100%;
          max-width: 350px;

          h1 {
            text-align: center;
          }
          p {
            margin: 0.2rem 0 0.5rem;
            text-align: center;
            a {
              color: var(--text-color);
            }
          }

          .forgot-password {
            text-align: end;
            a {
              color: var(--main-color);
              text-decoration: none;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
