<main id="login">
  <div [@zoomInAnimation] class="row">
    <div class="lang">
      <lang-select></lang-select>
    </div>
    <div class="col">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo" />
      </div>
    </div>
    <div class="col">
      <div class="form">
        <form (ngSubmit)="loginSubmitHandler()" [formGroup]="login_form">
          <h1>{{ 'login-register.login-title' | translate }}</h1>
          <p>
            {{ 'login-register.not-registered' | translate }}
            <a routerLink="/register">{{
              'login-register.go-register' | translate
            }}</a>
          </p>
          <div class="card-input">
            <label for="username">
              {{ 'login-register.email' | translate }}
            </label>
            <input
              type="email"
              id="username"
              placeholder="Digite seu e-mail"
              formControlName="email"
              autocomplete="username"
            />
          </div>
          <div class="card-input">
            <label for="current-password">{{
              'login-register.password' | translate
            }}</label>
            <span class="input-icon">
              <input
                [type]="view_pass ? 'text' : 'password'"
                id="current-password"
                autocomplete="current-password"
                placeholder="Digite sua senha"
                formControlName="password"
              />
              <button
                type="button"
                mat-icon-button
                aria-label="Ver senha"
                (click)="view_pass = !view_pass"
              >
                <i icon="view_pass" *ngIf="!view_pass"></i>
                <i icon="hide_pass" *ngIf="view_pass"></i>
              </button>
            </span>
            <span class="forgot-password">
              <a class="f-12" routerLink="/forgot-password">
                {{ 'login-register.forgot-password' | translate }}
              </a>
            </span>
          </div>
          <div class="card-input">
            <mat-checkbox formControlName="remember">
              {{ 'login-register.remember-me' | translate }}
            </mat-checkbox>
          </div>
          <div class="card-input">
            <button
              mat-button
              type="submit"
              class="primary"
              [disabled]="loading"
            >
              {{ 'login-register.login-title' | translate }}
              <loading *ngIf="loading"></loading>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
