<main id="login">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form">
        <form>
          <h1>Login</h1>
          <div class="card_input">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Digite seu email">
          </div>
          <div class="card_input">
            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha">
          </div>
          <div class="card_input">
            <button mat-button type="submit" class="primary">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>