main {
  .container {
    .content {
      ::ng-deep {
        .mat-horizontal-content-container,
        .mat-vertical-content {
          padding-top: 0.3rem;
        }
        .mat-mdc-radio-button ~ .mat-mdc-radio-button {
          margin-left: 1rem;
        }
      }

      .section {
        padding: 0.5rem;
        border-radius: var(--br);
        border: 1px solid var(--line-color);

        .section-header {
          h3 {
            margin: 0;
          }
        }

        .criteria-content {
          margin-top: 0.5rem;
        }

        & + .section {
          margin-top: 1rem;
        }
      }

      .axis-list-difficulty {
        .difficulty {
          label {
            width: 3rem;
            display: inline-block;
          }
          .value {
            width: 1rem;
            display: inline-block;
          }
          .mat-mdc-slider {
            max-width: 200px;
            width: 100%;
          }

          & + .difficulty {
            margin-top: 0.5rem;
          }
        }
      }

      .buttons {
        margin-top: 2rem;
        flex-wrap: wrap;
      }
    }
  }
}
