@import 'src/styles/media';

main {
  .container {
    .content {
      .filters {
        margin-bottom: 1rem;
        @include media('>=1240px') {
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          .buttons {
            width: fit-content;
          }
        }
        .row {
          display: flex;
          gap: 0.5rem;
          flex: 1;
          mat-form-field {
            max-width: 300px;
            min-width: 150px;

            &.year {
              max-width: 120px;
              min-width: 110px;
            }
            & + mat-form-field {
              margin: 0;
            }
          }

          @include media('<=tablet') {
            flex-wrap: wrap;
            mat-form-field {
              max-width: 100%;
              &.year {
                max-width: calc(50% - 0.25rem);
              }
            }
          }
        }

        .buttons {
          margin: 0;
        }
      }

      .charts-container {
        .row {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
        }
        apx-chart {
          padding: 0.5rem;
          border-radius: var(--br);
          border: 1px solid var(--line-color);
          flex: 1;
          width: calc(50% - 0.5rem);
        }
      }
    }
  }
}
