<main>
  <app-skeleton-loading></app-skeleton-loading>

  <img zoomable src="../../../assets/images/logo.png" alt="logo" />

  <ul>
    <li *ngFor="let name of names">
      {{ name }} ->
      <span [initialLetters]="name"></span>
    </li>
  </ul>

  <button mat-button (click)="showNotification()">notifier</button>
  <button mat-button (click)="getLocation()">Location (console)</button>

  <p>Agora: {{ now$ | async | date: 'dd/MM/yyyy HH:mm:ss' }}</p>

  <div class="avatars">
    <avatar *ngFor="let name of names" [name]="name" src=""></avatar>
    <avatar name="Kauã Landi" src="" color="light" bg="#000"></avatar>
  </div>
</main>
