<main>
  <app-skeleton-loading></app-skeleton-loading>

  <img zoomable src="../../../assets/images/logo.png" alt="logo" />

  <mat-form-field appearance="outline">
    <mat-label>busca</mat-label>
    <input matInput type="text" [formControl]="search" />
  </mat-form-field>

  <ul>
    <li *ngFor="let item of namesObj | filterData: search.value">
      {{ item['name'] }}
    </li>
  </ul>

  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <ul>
    <li *ngFor="let name of names">
      {{ name }} ->
      <span [initialLetters]="name"></span>
    </li>
  </ul>

  <button mat-button (click)="showNotification()">notifier</button>
  <button mat-button (click)="getLocation()">Location (console)</button>

  <p>Agora: {{ now$ | async | date: 'dd/MM/yyyy HH:mm:ss' }}</p>

  <div class="avatars">
    <avatar *ngFor="let name of names" [name]="name" src=""></avatar>
    <avatar name="Noclaf Tech" src="" color="light" bg="#000"> </avatar>
  </div>
</main>
