<h1 matDialogTitle>Alterar Permissão e Cursos</h1>

<mat-dialog-content>
  <mat-radio-group [formControl]="role" *ngIf="roles.length">
    <mat-radio-button *ngFor="let role of roles; index as i" [value]="role.id">
      <p class="role f-18"> {{ role.role }} </p>
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select [formControl]="getCourseControl(i)">
          <mat-option *ngFor="let course of role.courses" [value]="course.id">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-button>
  </mat-radio-group>

  <p class="empty-roles" *ngIf="!roles.length">
    Não existe nenhum curso atribuido a você, por favor, entre em contato com o
    administrador e solicite a atribuição de seus cursos.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose [disabled]="loading">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="confirmUserCourse()"
    [disabled]="loading"
    *ngIf="roles.length"
  >
    Confirmar alteração
    <loading *ngIf="loading" />
  </button>
</mat-dialog-actions>
