<div class="questions-list">
  <ul class="list">
    <li *ngIf="canAdd" matRipple class="add">
      <a routerLink="new">
        <p class="f-16">
          <i icon="plus"></i>
          Adicionar nova questão</p
        >
      </a>
    </li>

    <li *ngFor="let question of questions" matRipple>
      <a routerLink="{{ question.id }}/review">
        <div class="title">
          <p class="f-16"> #{{ question.id }} </p>
          <span class="difficulty-badge badge-{{ question.difficulty }}">
            {{ question.difficulty | difficulty }}
          </span>
        </div>

        <div class="list-body">
          <p class="statement"> {{ question.body | plaintext }} </p>
          <p class="f-12">Assunto: {{ question.subject_obj?.name }}</p>
          <p class="f-12">Tipo: {{ question.question_type }}</p>
          <!-- TODO: COLOCAR QUESTION TYPE RELACIONADO ACIMA -->
          <p class="f-12">
            Habilidade Cognitiva: {{ question.bloom_taxonomy | bloomTaxonomy }}
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
