section {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;

  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  p {
    text-align: center;
    max-width: 300px;
  }
}
.img {
  font-size: 3rem;
  animation: vibrate 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes vibrate {
  0%,
  2%,
  4%,
  6%,
  8%,
  10%,
  12%,
  14%,
  16%,
  18% {
    transform: translate3d(-2px, 0, 0) rotate(-2deg);
  }
  1%,
  3%,
  5%,
  7%,
  9%,
  11%,
  13%,
  15%,
  17%,
  19% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  20%,
  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
